<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1 text-gray-900 dark:text-gray-100">About Me</h2>
  <hr class="mb-4 border-gray-300 dark:border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-gray-600 dark:text-zinc-400"> A professional QA Engineer and a hobbyist Web Developer focused on delivering<strong class="text-gray-900 dark:text-zinc-100 font-medium"> high-quality, reliable digital solutions</strong>.Blending testing and development for <strong class="text-gray-900 dark:text-zinc-100 font-medium">seamless performance.</strong></p>
  <p class="leading-8 text-lg text-pretty text-gray-600 dark:text-zinc-400">I enjoy crafting intuitive UIs and writing clean code, all while expanding my skills in <strong class="text-gray-900 dark:text-zinc-100 font-medium">full-stack web development.</strong></p>
</section>
