---
const { link } = Astro.props;
---

<a class="hover:bg-gray-50/50 dark:hover:bg-gray-800/80 hover:border-gray-50 dark:hover:border-gray-700 border border-transparent p-2 rounded-md transition-all duration-300 text-gray-900 dark:text-gray-300" href={link} target="_blank">
  <slot/>
</a>