---
const { link } = Astro.props;
---

<a class="hover:bg-gray-100 dark:hover:bg-zinc-800 hover:border-gray-300 dark:hover:border-zinc-600 border border-transparent p-2 rounded-md transition" href={link} target="_blank">
  <slot/>
</a>