---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2 text-gray-900 dark:text-gray-100">Projects</h2>
  <hr class="mb-6 border-gray-300 dark:border-zinc-600">

  <ProjectCard projectTitle="Movie Critic" projectDescription="Developed comprehensive Playwright test cases for the website using the Page Object Model (POM) architecture, leveraging TypeScript for better scalability, maintainability, and type safety. " projectLink="https://github.com/MrFullStackDev/MovieCriticTs">
    <Typescript />
  </ProjectCard>

</section>